body {
    margin: 0;
    background: #F0E5C9;
    overflow-x: hidden;
}

.section {
    background: #9BA657;
    box-sizing: border-box;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    margin: 30px;
    min-height: calc(100vh - 60px);
    padding: 2rem;
}
