@import '../lesshat.less';

@monkeySize: 8rem;

.monkey {
    .rotate(270deg);
    position: absolute;
    top: 50%;
    width: @monkeySize;

    right: -@monkeySize;
    .transition(right 1s ease-out);
    &.monkeyIsActive {
        right: 0;
    }
}
