@import '../lesshat.less';

.section {
    // For displaying the monkey
    overflow: hidden;
    position: relative;
}

@monkeySize: 8rem;

.monkey {
    .rotate(270deg);
    position: absolute;
    right: -@monkeySize;
    top: 50%;
    transition: right 1s ease-out;

    width: @monkeySize;
}

.keyframes(~'monkey-gasp, 0%, 100% { right: -@{monkeySize}; } 50% { right: 0; }');
.monkeyIsActive {
    .animation(monkey-gasp 2s);
}
