@import '../lesshat.less';

.keyframes(~'bounce, from { transform: translateY(5px); } to { transform: translateY(0); }');
.keyframes(~'small-bounce, from { transform: translateY(2px); } to { transform: translateY(0); }');
.keyframes(~'wheel, from { transform: rotate(360deg); } to { transform: rotate(0deg); }');
.keyframes(~'jet-color, from { fill: #ffce31; } to { fill: #ffa331; }');

.wheelPath {
    .animation(wheel 1s infinite linear);
    .transform-origin(center center);

    // transform-origin keywords don't work in FF, so disable anim
    -moz-animation: none;
}

.boatMainPath {
    .animation(small-bounce 1s ease-in-out infinite alternate);
}

.planeJetPath {
    .animation(jet-color 0.5s infinite alternate);
}

.carIcon {
    .animation(small-bounce 0.2s linear infinite alternate);
}

.planeIcon {
    .animation(bounce 1s ease-in-out infinite alternate);
}
