@import '../lesshat.less';

.keyframes(~'bounce, from { transform: translateY(5px); } to { transform: translateY(0); }');
.keyframes(~'small-bounce, from { transform: translateY(2px); } to { transform: translateY(0); }');
.keyframes(~'wheel, from { transform: rotate(360deg); } to { transform: rotate(0deg); }');
.keyframes(~'jet-color, from { fill: #ffce31; } to { fill: #ffa331; }');

.wheelPath1, .wheelPath2 {
    .animation(wheel 1s infinite linear);
}

.wheelPath1 {
    .transform-origin(9.06px 8.628px);
}

.wheelPath2 {
    .transform-origin(8.938px 8.628px);
}

.boatMainPath {
    .animation(small-bounce 1s ease-in-out infinite alternate);
}

.planeJetPath {
    .animation(jet-color 0.5s infinite alternate);
}

.carIcon {
    .animation(small-bounce 0.2s linear infinite alternate);
}

.planeIcon {
    .animation(bounce 1s ease-in-out infinite alternate);
}
