/* height of the wave PNG */
@waveHeight: 94px;

/* how far to overflow on each side for waving effect */
@waveExcess: 5rem;

/* how far to rise */
@waveRiseDistance: 60vh;

@keyframes waving {
    0%, 100% { margin-left: 0; }
    50% { margin-left: -@waveExcess; }
}

@keyframes waving-reverse {
    0%, 100% { margin-left: 0; }
    50% { margin-left: @waveExcess; }
}

@keyframes rising {
    0% { bottom: 0; }
    100% { bottom: @waveRiseDistance; }
}

@keyframes rising-background {
    0% { height: 1px; } /* weird...needs a 1px correction */
    100% { height: @waveRiseDistance + 1px; }
}

@keyframes cow-wave {
    0%, 100% { transform: rotate(-3deg); }
    50% { transform: rotate(3deg); }
}

.waterSection {
    overflow: hidden; /* hide wave overflow */
    position: relative;

    /* push text to bottom, background is less noisy there */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

:global(.wow.animated) {
    .waveBackground {
        animation: rising-background 4s forwards;
    }

    .wave1, .wave3 {
        animation: waving 1.5s infinite ease-in-out,
                   rising 4s forwards;
    }

    .wave2 {
        animation: waving-reverse 1.5s infinite ease-in-out,
                   rising 4s forwards;
    }
}

.cow {
    animation: rising 4s forwards, cow-wave 1.5s infinite ease-in-out;
    right: 1rem;
    max-width: 20vw;
    margin-bottom: -@waveRiseDistance / 2;
    position: absolute;
    z-index: -1; // don't cover the text
}

.waveBackground {
    background: #2948CC; /* color of the last wave */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.textContainer {
    z-index: 2; /* show on top of waves */
}

.wave1, .wave2, .wave3 {
    position: absolute;
    z-index: 1; /* show beneath text */

    height: @waveHeight;
    background-repeat: repeat-x;
    width: calc(~"100% +" @waveExcess * 2);
}

.wave1, .wave3 {
    left: 0;
}

.wave1 {
    background-image: url('../images/wave1.png');
    margin-bottom: @waveHeight;
}

.wave2 {
    background-image: url('../images/wave2.png');
    left: -@waveExcess;
    margin-bottom: @waveHeight / 2;
}

.wave3 {
    background-image: url('../images/wave3.png');
    margin-bottom: 0;
}
