@import './lesshat.less';

// Color palettes from:
// http://www.colourlovers.com/palette/1297885/secret_forest
@bgColor1: #F0E5C9;
@fgColor1: #9BA657;
@bgColor2: #A68C69;
@fgColor2: #594433;
@separatorColor: #F4F4F4;

@separatorSize: 3rem;
@wrapperPadding: 3rem;

.sectionWrapper {
    background: @bgColor1;
    position: relative;

    padding: @wrapperPadding @wrapperPadding (@wrapperPadding + @separatorSize / 2);

    &:last-of-type {
        padding-bottom: @wrapperPadding;
    }

    // Separator from:
    // http://tympanus.net/Development/SectionSeparators/
    &::after {
        background: inherit;
        content: "";
        pointer-events: none;
        .box-shadow(-@separatorSize @separatorSize 0 @bgColor1,
                    @separatorSize -@separatorSize 0 @bgColor1);
        .transform(translateX(-50%) rotate(45deg));

        position: absolute;
        left: 50%;
        top: -@separatorSize / 2;
        width: @separatorSize;
        height: @separatorSize;
    }
}

.section {
    background: @fgColor1;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    min-height: calc(~"100vh -" (2 * @wrapperPadding));
    padding: 2rem;
    .box-sizing(border-box);
}

.sectionWrapper.alternate {
    background: @bgColor2;

    &::after {
        .box-shadow(-@separatorSize @separatorSize 0 @bgColor2,
                    @separatorSize -@separatorSize 0 @bgColor2);
    }
}

.sectionWrapper.alternate .section {
    background: @fgColor2;
}
