@import './lesshat.less';

// Color palettes from:
// http://www.colourlovers.com/palette/1297885/secret_forest
// http://www.colourlovers.com/palette/171453/Herbal_Remedy
@bgColor1: #F0E5C9;
@fgColor1: #9BA657;
@bgColor2: #A68C69;
@fgColor2: #594433;
@separatorColor: #F4F4F4;

@separatorSize: 3rem;
@wrapperPadding: 3rem;

.sectionWrapper {
    background: @bgColor1;
    position: relative;

    padding: (@wrapperPadding + @separatorSize / 2) @wrapperPadding @wrapperPadding;

    // No divider before the first element
    &:first-of-type {
        padding-top: @wrapperPadding;

        &::after {
            content: none;
        }
    }

    // Separator from:
    // http://tympanus.net/Development/SectionSeparators/
    &::after {
        background: @bgColor2;
        content: "";
        pointer-events: none;
        .box-shadow(-@separatorSize @separatorSize 0 @bgColor2,
                    @separatorSize -@separatorSize 0 @bgColor2);
        .transform(translateX(-50%) rotate(45deg));

        position: absolute;
        left: 50%;
        top: -@separatorSize / 2;
        width: @separatorSize;
        height: @separatorSize;
    }
}

.section {
    background: @fgColor1;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    min-height: calc(~"100vh -" (2 * @wrapperPadding));
    overflow: hidden;
    padding: 2rem;
    position: relative;
    text-shadow: 1px 1px #535358;
    .box-sizing(border-box);

    // For vertical centering of content
    .display(flex);
    .flex-direction(column);
    .justify-content(center);
}

.section.noPadding {
    padding: 0;
}

.sectionWrapper.alternate {
    background: @bgColor2;

    &::after {
        background: @bgColor1;
        .box-shadow(-@separatorSize @separatorSize 0 @bgColor1,
                    @separatorSize -@separatorSize 0 @bgColor1);
    }
}

.sectionWrapper.alternate .section {
    background: @fgColor2;
}
