@import '../lesshat.less';

@barHeight: 5rem;

.keyframes(~'animal-grow, 0% { width: 0%; } 100% { width: 100%; }');
.keyframes(~'people-grow, 0% { width: 0%; } 100% { width: 3%; }');

.animalPoopBar, .peoplePoopBar {
    background-color: #A68C69;
    border: 0.5rem solid #594433;
    border-radius: 1rem;
    background-image: url('../../images/poop.svg');
    .background-size(auto @barHeight);
    min-height: 1rem;
}

:global(.wow.animated) {
    .animalPoopBar {
        .animation(animal-grow 4s forwards ease-out);
    }

    .peoplePoopBar {
        .animation(people-grow 4s forwards ease-out);
    }
}

.animalPoopBar {
    margin-bottom: 1rem;
    height: @barHeight * 4;
}

.peoplePoopBar {
    height: @barHeight;
}

.chartRow {
    .display(flex);
    .align-items(center);
    margin-top: 2rem;
}

.sourceIcon {
    .flex(none);
    margin-right: 1rem;
    width: @barHeight;
}

.poopBars {
    .flex(auto);
}
